services:

  civilisation:
    build:
      args:
        - WASM_TAG=v0-1-0
        - APP_NAME=civilisation
        - APP_PORT=8000
      target: final-server
      context: .
    restart: on-failure
    ports:
      - "8000:8000"
    env_file:
      - ".env"
      - ".env.docker"
    environment:
      - APP_PORT=8000
      - APP_HOST=http://mono.localhost:8000
    command: mono-civilisation-server --real-env service
    networks:
      - common_net

  planet:
    build:
      args:
        - WASM_TAG=v0-1-0
        - APP_NAME=planet
        - APP_PORT=8001
      target: final-server
      context: .
    restart: on-failure
    ports:
      - "8001:8001"
    env_file:
      - ".env"
      - ".env.docker"
    environment:
      - APP_PORT=8001
      - APP_HOST=http://mono.localhost:8001
    command: mono-planet-server --real-env service
    networks:
      - common_net


networks:
  common_net:
    external: true
    name: common_network