

<fieldset style="float:right">
    <horfimbor-template-state endpoint={{endpoint}}></horfimbor-template-state>
</fieldset>

<fieldset>
    <horfimbor-template-input endpoint={{endpoint}}></horfimbor-template-input>
</fieldset>
